@model MatrixModel
@{
    ViewBag.Title = "Form";
}
<div class="main">
    <div class="header">
        <h1 class="header-text">2D Matrix Determinant Calculator</h1>
    </div>
    <div class="nav-container">
        <div class="nav">
            <div class="nav-item"><a asp-controller="Home">Home</a></div>
            <div class="nav-item"><a asp-controller="Form">Form</a></div>
            <div class="nav-item"><a asp-controller="Contact">Contact</a></div>
        </div>
    </div>
    <div class="form-container">
        <div class="form">
            <form asp-controller="Form" asp-action="DisplayActionName" method="post">
                <div class="form-input-group">
                    <input asp-for="Num1" type="text" class="form-input" />
                    <div class="space"></div>
                    <input asp-for="Num2" type="text" class="form-input" />
                </div>
                <div class="form-input-group">
                    <input asp-for="Num3" type="text" class="form-input" />
                    <div class="space"></div>
                    <input asp-for="Num4" type="text" class="form-input" />
                </div>
                <button type="submit" class="form-button">Submit</button>
            </form>
        </div>
    </div>
</div>
