@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GarrettModel
@{
}
<h1>2D Matrix Determinant Calculator</h1>
<form asp-controller="Form" asp-action="DisplayActionName" method="post">
<input asp-for="Num1" type="text" />
<input asp-for="Num2" type="text" />
<br>
<input asp-for="Num3" type="text"/>
<input asp-for="Num4" type="text" />
<button type="submit">Submit</button>
</form>
</div>
