@model MatrixModel
@{
    ViewBag.Title = "Contact";
}
<div class="main">
    <div class="header">
        <h1 class="header-text">Contact Us</h1>
    </div>
    <div class="nav-container">
        <div class="nav">
            <div class="nav-item"><a asp-controller="Home">Home</a></div>
            <div class="nav-item"><a asp-controller="Form">Form</a></div>
            <div class="nav-item"><a asp-controller="Contact">Contact</a></div>
        </div>
    </div>
    <div class="contact-container">
        <div class="contact">
            <div class="contact-group">
                <p>Name: Logan Miller</p>
                <a href="mailto:Logan.Miller@southeasttech.edu">Email: Logan.Miller@southeasttech.edu</a>
                <br>
                <br>
                <a href="https://github.com/loganmiller822">GitHub: loganmiller822</a>
            </div>
        </div>
        <div class="contact">
            <div class="contact-group">
                <p>Name: Garrett Thompson</p>
                <a href="mailto:Garrett.Thompson@southeasttech.edu">Email: Garrett.Thompson@southeasttech.edu</a>
                <br>
                <br>
                <a href="https://github.com/Gnarlsley">GitHub: Gnarlsley</a>
            </div>
        </div>
    </div>
</div>
