@model MatrixModel
@{
    ViewBag.Title = "Home";
}
<div class="main">
    <div class="header">
        <h1 class="header-text">Fun Zone Matrix Calculator</h1>
    </div>
    <div class="nav-container">
        <div class="nav">
            <div class="nav-item"><a asp-controller="Home">Home</a></div>
            <div class="nav-item"><a asp-controller="Form">Form</a></div>
            <div class="nav-item"><a asp-controller="Contact">Contact</a></div>
        </div>
    </div>
    <div class="info-container"> 
        <p>Welcome to Logan and Garrett's Unit 1 MVC Project</p>
    </div>
</div>